<!-- Device Management -->
<div class="panel panel-default panel-highlighted">
    <div class="panel-heading"><i class="fa fa-cubes"></i> {{_t('nm_device_management')}}</div>
    <div class="panel-body">
        <!-- Include/Exclude  -->
        <div class="cfg-block" ng-controller="IncludeExcludeDeviceController">
            <!-- Basic info  -->
            <div ng-hide="controlDh.inclusion.lastIncludedDevice.message || controlDh.inclusion.lastExcludedDevice.message">
                <!-- Info about sis/primary  -->
                <bb-alert alert="controlDh.inclusion.alertPrimary"></bb-alert>
                <!-- Controller status  -->
                <bb-alert alert="controlDh.inclusion.alert"></bb-alert>
            </div>
            <!-- Inclusion success  -->
            <bb-alert alert="controlDh.inclusion.lastIncludedDevice"></bb-alert>
            <!-- Exclusion success  -->
            <bb-alert alert="controlDh.inclusion.lastExcludedDevice"></bb-alert>
            <!-- S2 Alert  -->
            <bb-alert alert="controlDh.inclusion.alertS2"></bb-alert>
            <!-- include start -->
            <button class="btn btn-primary" id="btn_nm_include_start" title="{{_t('nm_include_start_tooltip')}}"
                    ng-disabled="[5, 6, 7, 20].indexOf(controlDh.controller.controllerState) > -1"
                    ng-if="[1, 2, 3, 4].indexOf(controlDh.controller.controllerState) == -1"
                    ng-click="addNodeToNetwork(1)">
                <i class="fa fa-play-circle"></i> {{_t('nm_include_start')}}
            </button>
            <!-- include stop -->
            <button
                    class="btn btn-danger"
                    id="btn_nm_include_stop"
                    ng-if="[1, 2, 3, 4].indexOf(controlDh.controller.controllerState) > -1"
                    ng-click="addNodeToNetwork(0)">
                <i class="fa fa-stop-circle"></i> {{_t('nm_include_stop')}}
            </button>
            <!-- exclude start -->
            <!-- TBD
            <button class="btn btn-info" id="nm_exclude_start" title="{{_t('nm_exclude_start_tooltip')}}"
                    ng-disabled="[1, 2, 3, 4, 20].indexOf(controlDh.controller.controllerState) > -1"
                    ng-if="[5, 6, 7].indexOf(controlDh.controller.controllerState) == -1"
                    ng-click="removeNodeToNetwork('controller.RemoveNodeFromNetwork(1)')">
                <i class="fa fa-play-circle"></i> {{_t('nm_exclude_start')}}
            </button>
            -->
            <!-- exclude stop -->
            <!-- TBD
            <button class="btn btn-danger" id="nm_exclude_stop"
                    ng-if="[5, 6, 7].indexOf(controlDh.controller.controllerState) > -1"
                    ng-click="removeNodeToNetwork('controller.RemoveNodeFromNetwork(0)')">
                <i class="fa fa-stop-circle"></i> {{_t('nm_exclude_stop')}}
            </button>
            -->
            <p class="input-help" ng-if="controlDh.controller.limitReached" ng-bind-html="_t('nm_include_limit_reached') | toTrusted"></p>
        </div>
    </div>
</div>

